@import url(./reset.css);
@import url(./carousel.css);
@media only screen and (max-width: 320px){html{font-size: 9px;} }
@media only screen and (min-width: 320px) and (max-width: 352px){html{font-size: 10px;} }
@media only screen and (min-width: 352px) and (max-width: 384px){html{font-size: 11px;} }
@media only screen and (min-width: 384px) and (max-width: 416px){html{font-size: 12px;} }
@media only screen and (min-width: 416px) and (max-width: 448px){html{font-size: 13px;} }
@media only screen and (min-width: 448px) and (max-width: 480px){html{font-size: 14px;} }
@media only screen and (min-width: 480px) and (max-width: 512px){html{font-size: 15px;} }
@media only screen and (min-width: 512px) and (max-width: 544px){html{font-size: 16px;} }
@media only screen and (min-width: 544px) and (max-width: 576px){html{font-size: 17px;} }
@media only screen and (min-width: 576px) and (max-width: 608px){html{font-size: 18px;} }
@media only screen and (min-width: 608px) and (max-width: 640px){html{font-size: 19px;} }
@media only screen and (min-width: 640px){html{font-size: 20px;} }
.ad {
  font-size: 11px;
  color: #333333;
  background-color: #f3f3f3;
  line-height: 36px;
}
html {
  background-color: #f8f8f8;
}
.ad-check {
  color: #21a557;
  padding: 0 5px;
}
.ad-close {
  float: right;
  font-size: 11px;
  color: #333333;
  background-color: #f3f3f3;
  line-height: 36px;
}
header {
  margin: 0 auto;
  line-height: 90px;
}
#nav {
  float: right;
}
#nav a {
  font-size: 16px;
  color: #666666;
  padding-left: 10px;
}
.logo-container {
  display: inline-block;
}
.logo {
  color: #39a030;
  font-size: 28px;
  font-weight: 500;
  padding-right: 0 10px;
  line-height: 1;
}
.brand {
  font-size: 22px;
  line-height: 1;
}
/*------>fans<-----*/
.fans-container {
  display: inline-block;  
}
.fans-follow i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(./../images/fans-follow.png);
}
.fans-follow {
  display: inline-block;
  font-size: 12px;
  line-height: 21px;
  background-color: #21a557;
  padding: 0 10px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
}
.fans-count {
  font-size: 12px;
  color: #666666;
}
/*------>courses<-----*/
.courses {
  margin: 0 auto;
  padding: 55px 0;
  display: flex;
}
.course {
  width: 33.3%;
  flex: 1 1 auto;
  position: relative;
}
.course-aside {
  position: absolute;
  left: 0;
  margin-right: 22px;
  display: inline-block;
}
.course-main {
  display: inline-block;
  margin-left: 100px;
  max-width: 280px;
}
.course-title {
  font-size: 22px;
  color: #333333;
}
.course-footer {
  font-size: 14px;
  color: #21a557;
}
.course-content {
  font-size: 14px;
  color: #666666;
}
.course-aside {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: url(./../images/course-yunketang.png);
}
/*------>banenr<-----*/
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
.intro-wrap {
  overflow: scroll;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 75px;
}
.intro-wrap li {
  display: inline;
  width: 319px;
  margin-left: -4px;
}
/*------>class<------*/
.main {
  margin: 0 auto;
  height: 800px;
}
.main-inner {
  position: relative;
}
.tab {
  font-size: 20px;
}
.tab a {
  display: inline-block;
  padding: 16px 60px;
  background-color: #FFFFFF;
  line-height: 1;
  color: #666666;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  cursor: pointer;
}
.tab-active {
  background-color: #39a030 !important;
  color: #FFFFFF !important;
}
.class-wrap {
  position: relative;
  margin-right: 224px;
}
.class-list {
  margin-top: 30px;
}
.class-list {
}
.class-list li {
  width: 226px;
  display: inline-block;
  background-color: #FFFFFF;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}
.class-img {
  height: 125px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.class-content {
  padding: 9px 5px;
}
.class-name, .class-provider, .class-price {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.class-learnerCount {
  font-size: 8px;
  line-height: 2;
  color: #dddddd;
}
.class-price {
  color: #ff3f00;
}
/*------>分页<------*/
.pagination {
  position: absolute;
  right: 20px;
  height: 20px;
}
.pagination-top, .pagination-bottom {
  display: inline-block;
  width: 30px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #9dd8b1;
  cursor: pointer;
}
#paginationPage a {
  padding: 0 7px;
  margin: 0 4px;
  display: inline-block;
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
#paginationPage a:hover {
  color: #39a030;
}
.page-active {
  background-color: #9dd8b1;
  color: #fff !important;
}
/*------>main侧边<------*/
.main-aside {
  position: absolute;
  top: 0;
  right: 0;
}
.vid-container, .billboard {
  width: 224px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  background-color: #fff;
  margin-bottom: 20px;
}
.vid-header, .billboard-header {
  padding: 0 20px;
  font-size: 16px;
  line-height: 55px;
  color: #333333;
  border-bottom: 1px solid #ddd;
}
.vid-content {
  padding: 0 20px;
}
.vid-summary {
  font-size: 14px;
  line-height: 1;
  padding: 20px 0 9px 0; 
  color: #666666;
}
.vid-content video{
  width: 100%;
  padding-bottom: 10px;
}
/*------>最热排行榜<------*/
.billboard-list li {
  position: relative;
  margin: 20px;
  list-style: none;
}
.billboard-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.billboard-content {
  height: 50px;
  margin-left: 60px;
}
.billboard-title {
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.billboard-viewer {
  font-size: 10px;
  color: #999999;
}
/*------>登陆框<------*/
.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}
.login-form {
  margin: 30px 40px;
  position: relative;
}
.login-forminner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 387px;
  height: 288px;
  background-color: #fff;
}
.login-title {
  font-size: 18px;
  color: #444444;
  font-weight: 400;
}
.login-form input {
  margin-top: 16px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #ccc;
  line-height: 44px;
}
.login-submit {
  margin-top: 30px;
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: #fff;
  line-height: 46px;
  background-color: #26ae49;
}
.login-close {
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 1205px) {
  .main, .courses, .ad, header {
    width: 963px;
  }
}
@media only screen and (min-width: 1205px) {
  .main, .courses, .ad, header {
    width: 1210px;
  }
}
/*@media only screen and (min-width: 640px){html{font-size: 20px;} }*/

